/**
 * ### Float
 * - `Type:` Animation
 * - `Description:` Floating/hovering animation
 * - `Variables:` To change spin speed please set variable `$flaot-animation-speed` to your prefered speed (default is `4s`) before `importing sass-boilerplate` or `animations` only
 *
 * Usage:
 * ```scss
 * div { @extend %animation-float; }
 * ```
 */

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.3);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.1);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.3);
		transform: translatey(0px);
	}
}

%animation-float {
	$flaot-animation-speed: 4s !default;

  -webkit-animation: float $flaot-animation-speed ease-in-out infinite;
  -moz-animation: float $flaot-animation-speed ease-in-out infinite;
  -ms-animation: float $flaot-animation-speed ease-in-out infinite;
  -o-animation: float $flaot-animation-speed ease-in-out infinite;
  animation: float $flaot-animation-speed ease-in-out infinite;
}