/**
 * ### Pulse
 * - `Type:` Animation
 * - `Description:` Pulsing shadow/outline animation
 * - `Variables:` To change spin speed please set variable `$pulse-animation-speed` to your prefered speed (default is `2s`) before `importing sass-boilerplate` or `animations` only
 *
 * Usage:
 * ```scss
 * div { @extend %pulse; }
 * ```
 */

%pulse {
  $pulse-animation-speed: 2s !default;

  animation: pulse $pulse-animation-speed infinite;

  &:hover {
    animation: none;
  }
}

$pulse-primary-color: rgba(38, 166, 154, 0.4);
$pulse-secondary-color: rgba(38, 166, 154, 0);

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: $pulse-primary-color;
  }
  70% {
      -webkit-box-shadow: $pulse-secondary-color;
  }
  100% {
      -webkit-box-shadow: $pulse-secondary-color;
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 $pulse-primary-color;
    box-shadow: 0 0 0 0 $pulse-primary-color;
  }
  70% {
      -moz-box-shadow: 0 0 0 10px $pulse-secondary-color;
      box-shadow: 0 0 0 10px $pulse-secondary-color;
  }
  100% {
      -moz-box-shadow: 0 0 0 0 $pulse-secondary-color;
      box-shadow: 0 0 0 0 $pulse-secondary-color;
  }
}