@import "../variables";

%pulse {
  animation: pulse 2s infinite;

  &:hover {
    animation: none;
  }
}

.msm-animation-pulse {
  @extend %pulse;
}

$pulse-primary-color: rgba(38, 166, 154, 0.4);
$pulse-secondary-color: rgba(38, 166, 154, 0);

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: $pulse-primary-color;
  }
  70% {
      -webkit-box-shadow: $pulse-secondary-color;
  }
  100% {
      -webkit-box-shadow: $pulse-secondary-color;
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 $pulse-primary-color;
    box-shadow: 0 0 0 0 $pulse-primary-color;
  }
  70% {
      -moz-box-shadow: 0 0 0 10px $pulse-secondary-color;
      box-shadow: 0 0 0 10px $pulse-secondary-color;
  }
  100% {
      -moz-box-shadow: 0 0 0 0 $pulse-secondary-color;
      box-shadow: 0 0 0 0 $pulse-secondary-color;
  }
}

/*

  Usage (Sass):
  div {
    @extend %pulse;
  }

  (CSS)
  class="msm-animation-pulse"
*/
