/**
 * ### Float
 * - `Type:` Animation
 * - `Description:` Floating/hovering animation
 * - `Variables:`
 * > 🔖 `$usb-float-animation-speed` - animation speed (default value is `4s`)
 *
 * Usage:
 * ```scss
 * div { @extend %usb-animation-float; }
 * ```
 */

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.3);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.1);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.3);
		transform: translatey(0px);
	}
}

%usb-animation-float {
	$usb-float-animation-speed: 4s !default;

  -webkit-animation: float $usb-float-animation-speed ease-in-out infinite;
  -moz-animation: float $usb-float-animation-speed ease-in-out infinite;
  -ms-animation: float $usb-float-animation-speed ease-in-out infinite;
  -o-animation: float $usb-float-animation-speed ease-in-out infinite;
  animation: float $usb-float-animation-speed ease-in-out infinite;
}