/**
 * ### Absolute
 * - `Type:` Mixin
 * - `Description:` Shortcut for setting position absolute with all positions containing same value
 *
 * Usage:
 * ```div {
 *  @include absolute(10px);
 * }```
 */

@mixin absolute($gap: 0) {
  position: absolute;
  top: $gap;
  left: $gap;
  bottom: $gap;
  right: $gap;
}
