/**
 * ### Parallax background
 * - `Type:` Mixin
 * - `Description:` Set parallax image backfround easy!
 *
 * Usage:
 * ```scss
 * div.msm-header {
 *   @include parallax-background('/assets/images/header2_offset.jpg');
 * }```
 */

@mixin parallax-background($url) {
  background-image: url($url);
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
