/**
 * ### Transition
 * - `Type:` Mixin
 * - `Description:` Vendorized transitions
 *
 * Usage:
 * ```scss
 * a {
 *   color: gray;
 *   @include transition(color .3s ease);
 * }```
 */

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
