/**
 * ### Animation and keyframes
 * - `Type:` Mixin
 * - `Description:` Vendorized animation & keyframes
 *
 * Usage:
 * ```scss
 * @include usb-keyframes(slide-down) {
 *   0% { opacity: 1; }
 *   90% { opacity: 0; }
 * }
 *
 * .animated-element { @include usb-animation('slide-down 5s 3'); }
 * ```
 */

@mixin usb-keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin usb-animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}