/**
 * ### Absolute
 * - `Type:` Mixin
 * - `Description:` Helps setting absolute position with same position value for all sides
 *
 * Usage:
 * ```scss
 * .absoluted-element { @include usb-absolute(10px); }
 * ```
 */

@mixin usb-absolute($gap: 0) {
  position: absolute;
  top: $gap;
  left: $gap;
  bottom: $gap;
  right: $gap;
}
